@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Prueba Mepiel</h1>
        <p class="lead">Prueba para desarrollador web con ASP.NET MVC </p>        
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="Modelo">
            <h2 id="Modelo">Modelo</h2>
            <p>• ID (autogenerado)</p>
            <p>• Título (obligatorio)</p>
            <p>• Descripción (máximo 500 caracteres)</p>
            <p>• Prioridad (Baja, Media, Alta)</p>
            <p>• Estado (Pendiente / Completada)</p>
            <p>• Fecha de creación (autogenerada)</p>
            <p>• Fecha de vencimiento (obligatoria)</p>
        </section>
        <section class="col-md-4" aria-labelledby="Acciones">
            <h2 id="Acciones">Modulo a realizar</h2>
            <p> • Crear nueva tarea.</p>
            <p>• Ver listado de tareas.</p>
            <p> • Editar tarea existente.</p>
            <p> • Eliminar tarea.</p>
            <p>• Marcar como completada/no completada.</p>
        </section>       
    </div>
</main>